*{
    padding: 3px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    text-decoration: underline;
}
a{
    color: green;
    text-decoration: underline;
}
b{
    color: red;
}
c{
    text-decoration: underline;
}